.top-bar {
  width: 100%;
  margin-top: 2.5%;
  background-color: #FDF2F7;
  border-color: black;
  border-width: 3px 0px;
  border-style: double;
}

.filter-button {
  background-color: white;
  padding: 0% 2%;
  margin: 0.5%;
  border-radius: 5%;
}

.filter-button:hover {
  background-color: #F3B3D4;
}

.selected-button {
  background-color: #F2A0CA;
}