.first-row-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-columns: 60% 20%;
  padding-top: 2%;
}

.scroll-box { /* haha u can't actually scroll in it */
  background-image: url(/images/layout/objects/scroll-white.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10% 5% 20% 5%;
  margin: 5% 0% 5% 18%;
}

.item-details {
  padding: 5% 10%;
  text-align: center;
}

.title {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 70px;
  line-height: 70px;   
  font-family: SongsOfMoravia;
  font-weight: 100;
  color: black;
  text-shadow: 1px 1px 20px #F99BCE;
}

.title-numerical {
  font-family: 'EB Garamond';
  font-size: 50px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 20px #F99BCE;
}

.underline-image {
  margin-left: auto;
  margin-right: auto;
}

.item-property-bold {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.item-property {
  font-size: 28px;
  float: right;
}

.lolibrary-link {
  text-decoration: var(--light-pink) underline 3px;
}

.lolibrary-link:hover {
  text-shadow: 1px 1px 2px #F99BCE;
}

.note {
  margin-top: 5%;
  text-align: left;
}

.picture-frame {
  background-image: url(/images/layout/frame/black.png);
  background-repeat: no-repeat;  
  background-position: center;
  background-size: contain;
  padding: 15% ;
  height: max-content;
  position: relative;
  margin: 30% 0%;
}

.item-image {
  padding: 10px;
  margin: auto;
}

.picture-frame::before {
  content: url(/images/layout/graphics/angel.png);
  position: absolute;
  top: -35%;
  left: 45%;
  z-index: -2;
}

.frame-background {
  box-shadow: inset black 0 0 50px 10px;
  background-color: #FFEBFE;
  position: absolute;
  width: 100%;
  top: 1em;
  left: 3em;
  max-width: 70%;
  min-height: 90%;
  z-index: -1;
}

.cross {
  position: absolute;
  top: 25%;
  left: 3%;
  transform: rotate(-7deg);
}

.back-button {
  
}