@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AngelWish; /* doesn't render for some reason :( coolest font name.... */
  src: url('/fonts/AngelWish.otf') format('opentype');
}

@font-face {
  font-family: BlackFamily; /* doesn't work either.. */
  src: url('/fonts/BlackFamily.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Ancient; /* too wide  */
  src: url('/fonts/Ancient.ttf') format('truetype');
  font-weight: 100;
}


@font-face {
  font-family: Lordish; /* ok but could be better still, a bit too rounded */
  src: url('/fonts/Lordish.ttf') format('truetype');
}

:root {
  --light-pink:#F7D6E7;
  font-size: 20px;
}

body {
  background-image: url(/images/layout/pattern/bg.png);
  background-repeat: repeat;
  background-position: center;
  background-color: hotpink;
}

h1 {
  font-size: 1.5em;
  color: #FFABD2;
  font-weight: bold;
}

.bg {
  padding: 5% 16.5%;
}

.main {
  background-color: white;
  text-align: center;
  padding-left: 2%;
  background: white;
}

.black-lace-border {
  padding: 17px; /* this should probably be set at least to the width of your border image */
  border-image: url("/images/layout/lace/border2.png");
  border-image-slice: 147;
  border-image-width: 20px;
  border-image-outset: 0px;
  border-image-repeat: repeat repeat;   
}

/*old solution: */
  /*
  background: 
      // top left corner
      url(http://dummyimage.com/15x15/ddeb15/000000.png&text=TL) top left no-repeat, 
      // top right corner
      url(http://dummyimage.com/15x15/ddeb15/000000.png&text=TR) top right no-repeat,
      bottom left corner
      url(http://dummyimage.com/15x15/ddeb15/000000.png&text=BL) bottom left no-repeat,
      bottom right corner
      url(http://dummyimage.com/15x15/ddeb15/000000.png&text=BR) bottom right no-repeat, 
      top
      url(/images/layout/gifs/banners/rose_lace_up.png) top left repeat-x, 
      bottom
      url(/images/layout/gifs/banners/rose_lace.png) bottom left repeat-x, 
      left side
      url(/images/layout/gifs/banners/rose_lace_left.png) top left repeat-y, 
      right side
      url(/images/layout/gifs/banners/rose_lace_right.png) top right repeat-y;
  */

.white-lace-border {
  border-image: url("/images/layout/lace/border.png");
  border-image-slice: 147;
  border-image-width: 40px;
  border-image-outset: 0px;
  border-image-repeat: repeat repeat;   
  padding: 0.6em 4%;
}

.picture-frame {
  border-image: url("/images/layout/lace/frame-black.png");
  border-image-slice: 196 203 180 187;
  border-image-width: 30px;
  border-image-outset: 0px;
  border-image-repeat: repeat repeat;
  padding: 30px;
}

.picture-frame-black {
  border-image: url("/images/layout/lace/frame-black.png");
  border-image-slice: 196 203 180 187;
  border-image-width: 15px;
  border-image-outset: 0px;
  border-image-repeat: repeat repeat;
  padding: 15px;
}

.picture-frame-pink {
  border-image: url("/images/layout/lace/frame-pink.png");
  border-image-slice: 196 203 180 187;
  border-image-width: 30px;
  border-image-outset: 0px;
  border-image-repeat: repeat repeat;
  padding: 30px;
}

.heart-border {
  border-image: url("/images/layout/lace/heart-border4.png");
  border-image-slice: 70; /* adjust value after images are all the same size*/
  border-image-width: 25px;
  border-image-outset: 10px;
  border-image-repeat: repeat repeat;
}

.drawing {
  max-height: 50em;
  max-width: 50em;
  padding: 1%;
}

.item {
  height: 20em;
  padding: 1%;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}