.category {
  
}

.item-title {

}

.description {
  color:  var(--light-pink);
  font-weight: 600;
  padding: 0% 13% 0% 45%;
  text-align: left;
  font-size: 18px;
}

.filter {
  min-height: 3%;
  height: 4%;
  width: 100%;
  margin-top: 2.5%;
  background-color: var(--light-pink)
}

.clothing-card {
  background: white;
  /* background-image: url(/images/layout/gifs/banners/frame.png); */
  padding: 0% 2%;
}

.clothing-brand {
  white-space: break-spaces;
  color: #B699A9;;  
  text-align: center;
  padding-left: 1%;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #F99BCE;
  line-height: 95%;  
  margin-left: 20%;
}

.brand-bg {
  transform: rotate(-5deg);
  margin-top: 10px;
  max-width:20%;
  position:absolute;
}

.clothing-image {
  margin-top: 13%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clothing-name {
  font-size: 23px;
  font-weight: 600;
}

.colorway {
  font-size: 15px;
}

.category-button {
  
}