.category {
  
}

.item-title {

}

.clothing-grid {
  padding: 0% 3%;
  background-color: var(--light-pink);
}

.description {
  color:  var(--light-pink);
  font-weight: 600;
  padding: 0% 13% 0% 45%;
  text-align: left;
  font-size: 18px;
}
.clothing-card {
  background: white;
  /* background-image: url(/images/layout/gifs/banners/frame.png); */
  padding: 0% 2%;
}

.clothing-brand {
  white-space: break-spaces;
  color: #B699A9;;  
  text-align: center;
  padding-left: 1%;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #F99BCE;
  line-height: 95%;  
  margin-left: 20%;
}

.brand-bg {
  transform: rotate(-5deg);
  margin-top: 10px;
  max-width:20%;
  position:absolute;
}

.clothing-image {
  margin-top: 13%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clothing-name {
  font-size: 23px;
  font-weight: 600;
}

.colorway {
  font-size: 15px;
}

.character-left {
  position: absolute;
  background-image: url(/images/layout/graphics/sweet-lolita.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px;
  min-width: 25%;
  top: 8%;
  left: 0;
  z-index: -1;
}


.character-right {
  position: absolute;
  background-image: url(/images/layout/graphics/sweet-lolita-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px;
  min-width: 25%;
  top: 30%;
  right: 0;
  z-index: -1;
}